*{
    background-color: #18181b;
}

div{
    margin: 0 3%;
}

h1{
    margin: 0;
    text-align: center;
    padding: 5px;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}